// 项目css基础设置
html,
body {
    height: 100%;
    width: 100%;
    font-size: 16px;
    //https://github.com/zenozeng/fonts.css/
    font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
}
a {
    text-decoration: none;
    color: inherit;
    &:hover {
        border-bottom: 1px solid;
        cursor: pointer;
    }
}
.router-link-active {
    text-decoration: none;
}